body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
header {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
nav {
  align-items: center;
  width: 1160px;
  height: 80px;
  display: flex;
}
.nav-logo {
  height: 52px;
  width: 82px;
  margin-right: 63px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid white;
  border-radius: 2px;
  background-image: url(/assets/images/logo-bamboo.svg);
  background-repeat: no-repeat;
  background-position: bottom 8px left 8px;
}
.nav-logo h1 {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  padding: 4.5px 3.50px;
}
.nav-menu a {
  margin-right: 54px;
}
.nav-designer {
  margin-left: auto;
}