body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
header {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
nav {
  align-items: center;
  width: 1160px;
  height: 80px;
  display: flex;
}
.nav-logo {
  height: 52px;
  width: 82px;
  margin-right: 63px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid white;
  border-radius: 2px;
  background-image: url(/assets/images/logo-bamboo.svg);
  background-repeat: no-repeat;
  background-position: bottom 8px left 8px;
}
.nav-logo h1 {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  padding: 4.5px 3.50px;
}
.nav-menu a {
  margin-right: 54px;
}
.nav-menu a:hover,
.nav-designer a:hover,
.active {
  color: #F9804B;
}
.nav-designer {
  margin-left: auto;
}

.button:hover {
  background-color: #E47209;
}

.button {
  cursor: pointer;
  width: 298px;
  height: 54px;
  line-height: 54px;
  background-color: #FE9013;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.button-round {
  border-radius: 27px;
}
.button-square {
  border-radius: 5px;
}
footer {
  color: white;
  height: 443px;
  background-color: black;
}
footer .nav-logo p {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  padding: 4.5px 3.50px;
}

footer .wrapper {
  margin: 0 auto;
  width: 1160px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.social-media ul {
  padding: 0;
}
.social-media ul li .social-icon {
  margin-right: 10px;
}
.social-media ul li {
  list-style: none;
  display:flex;
  align-items: center;
  margin-bottom:10px;
}

.nav-menu-footer {
  align-items: center;
  width: 600px;
  display: flex;
  gap: 58px;
}
.nav-menu-footer a:hover {
  color: #F9804B;
}
.subscribe {
  width: 367px;
}