section.watch-favorite-animal {
  height: 780px;
  background-image: url(/assets/images/photo-giant-panda.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top -80px left 0px;
}
.wrapper {
  margin: 0 auto;
  width: 1160px;
}

.wrapper-watch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 86px;
}
.big-text {
  width: 500px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 106px;
  line-height: 75%;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  z-index: 0;
}

.highlighted-text {
  color: #FFEE2E;
}
.big-text:before {
  content: "";
  width: 465px;
  height: 465px;
  position: absolute;
  background-color: #F9804B;
  border-radius: 100%;
  z-index: -1;
  top: 92px;
  right: 329px;
}

.watch-online {
  margin-right:100px;
}

section.backstage {
  height: 620px;
  background-image: url(/assets/images/bg_photo-flower.png);
  background-position: right 0 top 0px;
  background-repeat: no-repeat;
  margin-top: -70px;
}
.backstage-wrapper {
  padding-top: 128px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 87px;
}
.backstage-wrapper h2 {
  margin-top: 0;
  margin-bottom: -13px;
  font-weight: normal;
  line-height: 58px;
  font-size: 48px;
}
.backstage-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.backstage-content p {
  margin:0;
  line-height: 130%;
}
.subtitle {
  font-size:24px;
}
section.pets {
  height: 1110px;
  margin-top: 90px;
  background-image: url(/assets/images/bg-photo-palm.png), url(/assets/images/bg-photo-strelitzia.png);
  background-position: left 0 bottom 0, right 0 bottom 0;
  background-repeat: no-repeat, no-repeat;
}
.pets-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 73px;
  align-items:center;
  flex-direction: column;

}
.card-navigation {
  width:1324px;
  display: flex;
  justify-content: space-between;
  position: absolute;
    left: 136px;
  top: 1907px;
}
.cards-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background-color: #F9804B;
}
.cards-nav-button:hover,
.cards-nav-button:focus {
  background-color: #E47209;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.card {
  width: 365px;
  border: 1px solid #FA6F32;
  border-radius: 5px;
}

.card-image {
  overflow: hidden;
}

.card-image img {
  width: 365px;
  height: 365px;
  background-color: gray;
}
.card-image img:hover {
  transform: scale(1.2);
  transition: all .5s;
}
.card-footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-icon {
  padding-right:12px;
}
.card-content {
  padding-left: 16px;
  /* padding-top: 8px;
  padding-bottom: 14px; */
}
.card-title {
  text-transform: uppercase;
  font-weight: bold;
}
.card-description {
  font-size: 15px;
}


section.pick-a-friend {
  height: 1004px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.title {
  font-size:48px;
  text-align: center;
  color: #FE9013;
}
.pick-a-friend-wrapper {
padding-top: 69px;
padding-bottom: 100px;
}
.pick-a-friend-container .text-container {

}
.pick-a-friend-container {
  background-color: white;
  border-radius:10px;
  padding: 1px 100px;
  height: 835px;
}
.how-it-works-container {
  text-align: center;
  /* margin-top: 71px; */
  gap: 35px;
  flex-direction: column;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
h3 {
  font-size: 36px;
  font-weight: normal;
}

.pick-cards-container {
  display: flex;
  justify-content: center;

}
.pick-cards-container .step {
  width: 168px;
  height: 244px;

}
.pick-cards-container .arrow {

  padding-top:20px;
  width: 130px;
  height: 244px;
}

.pick-cards-container .arrow img {
  margin-top: 50px;
}


section.testimonials {
  height: 919px;
}